<header>
    <img src="assets/logo.jpg" alt="">
    <h2>(11) 1234-5678</h2>
    <a href="/">Home</a>
    <a href="/quem-somos">Quem Somos</a>
    <a href="/blog">Blog</a>
    <a href="/Contato">Contato</a>
</header>