<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    <p>A Waltertech é uma start-up de manutenção de computadores à domicílio. Estão crescendo muito rápido, em menos de um mês de operação, já tem 3 funcionários, o Walter (CEO), Wagner (filho, CTO) e o Jorginho (Social Media)</p>
</body>
</html>